body{
    background-color: #f0f0f0 ;
}

*{
    font-weight: 400;
}

h1, h2{
    margin: 0;
}

#title{
    color:#FF6A28;
    font-weight: 700;
    text-transform: uppercase;    
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 0;
}

.box{
    background-color: #ffffff;
    border-radius: 5px;
    width: 798px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 12px;
    width: fit-content;
    
    
}

.sub-title{
    color: #61656D;
    font-size: 16px;
    margin-bottom: 14px;
}

.info-box{
    background-color: #f0f0f0;
    width: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
    box-sizing: border-box;
    margin-right: 9px;
    border-radius: 5px;
}

.icon{
    width: 20px;
    
}

.foto-fim{
    
    padding-top: 12px;
    padding-left: 19px;
    padding-right: 159px;
    padding-bottom: 13px;
    
}

.info-text{
    text-align: center;
    color:#FF6A28;
    font-family: "Roboto";
}

.legenda-info{
    text-align: center;
    color: black;
    font-family: "Roboto";
}

.info-wrapper{
    display:flex;
    
}

.principal-image{
    margin-bottom: 10px;
}

.avental{
    width: 20px;
    padding-top: 15px;
    padding-bottom: 16.8px;
    padding-left: 35px;
    
}


.ingred-box{
    text-align: center;
    text-transform: uppercase;
    color:#FF6A28;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 12px;
    width: fit-content;
    border-radius: 5px;
    
}

.quarta-caixa{
    background-color: #f0f0f0;
    width: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
    box-sizing: border-box;
    margin-right: 9px;
    border-radius: 5px;
}

.dois-box{
    background-color: #ffffff;
    padding-top: 55px;
    padding-left: 27px;
    padding-right: 0px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    
}